/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.Nis.2017, 00:37:25
    Author     : said
*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#6698B3;
}

li {
    float: left;
}

li a {
    font-family: "Roboto", sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #A8CDE0;
}
p {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

